*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#date{
    display: flex;
    height: 70vh;
}

#examplDate{
    display: flex;
    height: 100%;
}

#date .data_now{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


#examplDate .example_data{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}